.buttonCircular {
  background-color: #ffde59;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  margin: 3vh;
  width: 30vw;
}

.buttonCircular:hover {
    background-color: #afafaf; /* Elige el color que prefieras */
    color: #000; /* Opcional: cambia el color del texto si lo necesitas */
}

.circular{
    font-size: clamp(1rem, 2vw, 2rem);
    margin: 10px;
}

@media (max-width: 768px) {
  .buttonCircular {
    width: 80vw;
    font-size: clamp(1rem, 3vw, 2rem);
    margin: 5vh auto;
  }
  
  .circular {
    font-size: clamp(1rem, 3vw, 2rem);
    margin: 5px;
  }
}