.info-congreso {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-congreso > div {
  flex: 1 1 50%;
  min-width: 190px;
  max-width: 50%;
  box-sizing: border-box;
  padding: 2rem;
  text-align: center;
  font-size: clamp(1rem, 1.3vw, 2rem);
}

.info-congreso h2 {
  font-size: clamp(1.5rem, 2vw, 4rem);
}

.info-congreso img {
  width: 25vw;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  margin: 1rem auto;
}

.video-congreso {
  width: 25vw;
  height: 17.7vw;
  max-width: 100%;
  display: block;
  margin: 1rem auto;
}

@media (max-width: 900px) {
  .info-congreso > div {
  padding: 0rem;
  text-align: center;
}
.info-congreso > div > h2{
  margin-bottom: 0px;
}
.video-congreso {
  width: 40vw;
  height: 40vw;
  max-width: 500px;
  display: block;
}
.info-congreso img {
  width: 20vw;
  max-width: 100%;
  height: auto;
  margin-top: 2vh;
}
}