.info-congreso {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-congreso > div {
  padding: 2rem;
  text-align: center;
  font-size: clamp(1rem, 1.3vw, 2rem);;
}

.info-congreso h2 {
  font-size: clamp(1.5rem, 2vw, 4rem);
}

.info-congreso img {
  width: 25vw;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  margin: 1rem auto;
}

@media (max-width: 768px) {
  .info-congreso > div {
  padding: 0rem;
  text-align: center;
}
.info-congreso > div > h2{
  margin-bottom: 0px;
}
}