/* Programa */


.wrap {   
    overflow-y: auto;
    position: relative;
    width: 70%;
    height: 80vh;
    cursor: grab;
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;
    white-space: nowrap;
}
.wrap.dragging {
  cursor: grabbing;
}
.wrap::-webkit-scrollbar {
    display: none;              /* Chrome, Safari, Opera */
}

.wrap::after {
  content: "";
  display: inline-block;
  width: 42vw;   /* espacio deseado a la derecha */
  height: 1px;
  vertical-align: top;
}

.comentario{
  font-size: clamp(0.467rem, 1.4vw, 1rem);
}

table.programaTabla thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #0066cc;
  border-top: 1px solid #ddd;    /* Borde superior */
  border-bottom: 3px solid #bbb;
}

table.programaTabla { 
  display: inline-table;
  vertical-align: top;
    border-collapse: separate;
    border-spacing: 0;
    border-left: 1px solid #ddd;
    border-right: none;
    width: 100%;
    table-layout: fixed;
    font-size: clamp(0.7rem, 2vw, 1.5rem);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

table.programaTabla th,
table.programaTabla td {
    padding: 8px;
    vertical-align: top;
     white-space: normal; 
}

table.programaTabla th {
    text-align: center;
}

table.programaTabla th:first-child,
table.programaTabla td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  border-left: none;
}

.time {
    width: 120px;
    font-weight: 600;
    background-color: #0066cc;
}

@media (max-width: 900px){
  .wrap {
    width: 90%;
    margin-left: 10%;
  }
  .time {
    width: 40px;
  }
  table.programaTabla { 
    width: 140vw;
  }

  .wrap::after {
    width: 27vw;   /* espacio deseado a la derecha */
  }
}           