html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: radial-gradient(ellipse at bottom, #d0d2d4 0%, #090A0F 100%);
  color: #fff;
}
body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0rem;
}